<div class="container my-3">
  <h1 class="text-center"><%= @article.title %></h1>
  <div class="card text-center mt-3">
    <div class="card-header d-flex justify-content-end">
      <div>
        <%= link_to 'Show', article_path(@article), class: 'btn btn-outline-primary' %>
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-outline-success' %>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger' %>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @article.description %></p>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-3">
        By <%= @article.user.username %>
        <%= link_to avatar_for(@article.user, { size: 60 }), user_path(@article.user), class: "rounded-circle overflow-hidden" %>
      </div>
      <div>
        Created <%= time_ago_in_words @article.created_at %> ago, updated <%= time_ago_in_words @article.updated_at %>
        ago
      </div>
    </div>
  </div>
</div>